In [1]:
library(dplyr)
library(tidyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
# URL of the dataset on UCI Machine Learning Repository
url <- "https://archive.ics.uci.edu/static/public/360/air+quality.zip"

# Download the zip file and extract it
download.file(url, destfile = "air_quality.zip")
unzip("air_quality.zip")

# Read the dataset into R
air_quality <- read.csv("AirQualityUCI.csv", sep = ";", header = TRUE, na.strings = "-200")

# View the first few rows of the dataset
head(air_quality)

  Date       Time     CO.GT. PT08.S1.CO. NMHC.GT. C6H6.GT. PT08.S2.NMHC.
1 10/03/2004 18.00.00 2,6    1360        150      11,9     1046
2 10/03/2004 19.00.00 2      1292        112      9,4       955
3 10/03/2004 20.00.00 2,2    1402         88      9,0       939
4 10/03/2004 21.00.00 2,2    1376         80      9,2       948
5 10/03/2004 22.00.00 1,6    1272         51      6,5       836
6 10/03/2004 23.00.00 1,2    1197         38      4,7       750
  NOx.GT. PT08.S3.NOx. NO2.GT. PT08.S4.NO2. PT08.S5.O3. T    RH   AH     X  X.1
1 166     1056         113     1692         1268        13,6 48,9 0,7578 NA NA
2 103     1174          92     1559          972        13,3 47,7 0,7255 NA NA
3 131     1140         114     1555         1074        11,9 54,0 0,7502 NA NA
4 172     1092         122     1584         1203        11,0 60,0 0,7867 NA NA
5 131     1205         116     1490         1110        11,2 59,6 0,7888 NA NA
6  89     1337          96     1393          949        11,2 59,2 0,7848 NA NA

In [3]:
# Clean the data: Convert commas to dots for numeric columns, remove unwanted columns (X, X.1), and remove NA columns
air_quality_cleaned <- air_quality |>
  mutate_at(vars(-Date, -Time), ~as.numeric(gsub(",", ".", .))) |>
  select(-X, -X.1)

# Convert Date and Time columns to proper formats
air_quality_cleaned$Date <- as.Date(air_quality_cleaned$Date, format = "%d/%m/%Y")
air_quality_cleaned$Time <- as.POSIXct(air_quality_cleaned$Time, format = "%H.%M.%S")

head(air_quality_cleaned)

  Date       Time                CO.GT. PT08.S1.CO. NMHC.GT. C6H6.GT.
1 2004-03-10 2023-07-29 18:00:00 2.6    1360        150      11.9
2 2004-03-10 2023-07-29 19:00:00 2.0    1292        112       9.4
3 2004-03-10 2023-07-29 20:00:00 2.2    1402         88       9.0
4 2004-03-10 2023-07-29 21:00:00 2.2    1376         80       9.2
5 2004-03-10 2023-07-29 22:00:00 1.6    1272         51       6.5
6 2004-03-10 2023-07-29 23:00:00 1.2    1197         38       4.7
  PT08.S2.NMHC. NOx.GT. PT08.S3.NOx. NO2.GT. PT08.S4.NO2. PT08.S5.O3. T    RH
1 1046          166     1056         113     1692         1268        13.6 48.9
2  955          103     1174          92     1559          972        13.3 47.7
3  939          131     1140         114     1555         1074        11.9 54.0
4  948          172     1092         122     1584         1203        11.0 60.0
5  836          131     1205         116     1490         1110        11.2 59.6
6  750           89     1337          96     1393          949        11.2 59.2
  AH
1 0.7578
2 0.7255
3 0.7502
4 0.7867
5 0.7888
6 0.7848

In [5]:
# Rename the column names to more descriptive names
col_names <- c("Date", "Time", "CO_Concentration", "PT08_S1_CO_Sensor", "NMHC_Concentration",
               "C6H6_Concentration", "PT08_S2_NMHC_Sensor", "NOx_Concentration", "PT08_S3_NOx_Sensor",
               "NO2_Concentration", "PT08_S4_NO2_Sensor", "PT08_S5_O3_Sensor", "Temperature", "Relative_Humidity", "Absolute_Humidity")

colnames(air_quality_cleaned) <- col_names

In [6]:
head(air_quality_cleaned)

  Date       Time                CO_Concentration PT08_S1_CO_Sensor
1 2004-03-10 2023-07-29 18:00:00 2.6              1360
2 2004-03-10 2023-07-29 19:00:00 2.0              1292
3 2004-03-10 2023-07-29 20:00:00 2.2              1402
4 2004-03-10 2023-07-29 21:00:00 2.2              1376
5 2004-03-10 2023-07-29 22:00:00 1.6              1272
6 2004-03-10 2023-07-29 23:00:00 1.2              1197
  NMHC_Concentration C6H6_Concentration PT08_S2_NMHC_Sensor NOx_Concentration
1 150                11.9               1046                166
2 112                 9.4                955                103
3  88                 9.0                939                131
4  80                 9.2                948                172
5  51                 6.5                836                131
6  38                 4.7                750                 89
  PT08_S3_NOx_Sensor NO2_Concentration PT08_S4_NO2_Sensor PT08_S5_O3_Sensor
1 1056               113               1692               1268
2 1174                92               1559                972
3 1140               114               1555               1074
4 1092               122               1584               1203
5 1205               116               1490               1110
6 1337                96               1393                949
  Temperature Relative_Humidity Absolute_Humidity
1 13.6        48.9              0.7578
2 13.3        47.7              0.7255
3 11.9        54.0              0.7502
4 11.0        60.0              0.7867
5 11.2        59.6              0.7888
6 11.2        59.2              0.7848